<app-nav (click)="reset()"></app-nav>
<div class="spin">
    <mat-spinner *ngIf="showSpin"></mat-spinner>
</div>
<div class="main-body">
    <div class="body">
        <div class="title">
            <span>Choose Destination {{ currentSelection + 1 }}</span>
        </div>
        <span class="error">{{ errorMessage }}</span>
        <div>
            <select class="select" #destination [(ngModel)]="selectedDestinations[currentSelection]">
                <option *ngFor="let planet of planets" [disabled]="selectedDestinations.includes(planet)"
                    [ngValue]="planet">
                    {{ planet.name }}
                </option>
            </select>
        </div>
        <div [class.hidden]="!destination.value" class="radio">
            <div class="radioButtons" *ngFor="let v of vehicles; let i = index">
                <input (change)="findDistance(i)" #vehicle [disabled]="shipsLeft(v, i) == 0" type="radio" [value]="v"
                    name="vehicle" [(ngModel)]="selectedVehicles[currentSelection]" />{{ v.name }} ({{ shipsLeft(v, i)
                }})
            </div>
        </div>
    </div>

    <div class="buttons">
        <button title="Previous Destination" class="previous" [disabled]="currentSelection == 0" (click)="currentSelection = currentSelection - 1">
            <mat-icon>keyboard_arrow_left</mat-icon><span class="button-text">Previous</span>
        </button>
        <button title="Find Falcone" class="finish" (click)="findFalcone()" *ngIf="
        currentSelection == planetsToVisit - 1 &&
        selectedVehicles[currentSelection]
      ">
            <span class="button-text">Find Falcone</span>
            <mat-icon> person_pin_circle</mat-icon>
        </button>
        <button title="Next Destination" class="next" [disabled]="check()" (click)="currentSelection = currentSelection + 1">
            <span class="button-text">Next</span>
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
</div>
<!--Clickable Links To navigate to that Destination and edit it-->
<div class="destinations">
    <h4 *ngIf="selectedDestinations[0]">Click to go to the particular Destination and Edit it</h4>
    <div *ngFor="let x of selectedDestinations; let i = index">
        <span class="list" (click)="currentSelection = i" *ngIf="x"><b>{{ i + 1 }}.)</b> Going to {{ x.name }} by
            <span *ngIf="selectedVehicles[i]">{{ selectedVehicles[i].name }}</span><span *ngIf="selectedVehicles[i]">
                and time
                taken is {{ timeTaken[i] }}</span>
        </span>
    </div>
    <div>
        <span *ngIf="totalTime"><b>Total Time = </b> {{ totalTime }}</span>
    </div>
</div>