/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button:disabled{
    background-color: #dacdcddb !important;
    color: black !important;
}
.mat-icon{
    vertical-align: middle !important;
}
.wrapper{
    height: 100%;
    min-height: 100%;
    margin-bottom: -2rem;
}
.error{
    color: red;
}
.mat-progress-spinner{
    position: absolute !important;
    top: 35%;
    left: 50%;
   transform: translateX(-50%);
}
html{
    font-size: 16px;
}
@media (max-width:1050px) {
    html{
        font-size: 18px;
    }
}
@media (max-width:750px){
    html{
        font-size: 18px;
    }}
@media (max-width:450px){
    html{
        font-size: 12px;
    }}
@media (max-width:300px){
        html{
            font-size: 8px;
        }


}
.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #03c9a9 !important;
    opacity: 0.5 !important;
}

    
