.start {
  border-radius: 6em;
  background-color: #03c9a9;
  color: white;
  border: #03c9a9;
  width: 33vw;
  height: 3em;
}
.header {
    text-align: center;
    padding: 2rem;
    background: #3c3c3c;
    color: wheat;
}
.text{
    font-size: 2rem;
}
.button{
   display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3%;

}
.image{
    text-align: center;
}
